#btnSzamol {
    -fx-background-color: silver;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-style: solid;
    -fx-font-size:13;
}
#elso {
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-style: solid;
}
#masodik {
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-style: solid;
}
#harmadik {
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-style: solid;
}